@import url('https://fonts.googleapis.com/css?family=Hind:300,400');


body {
  margin: 0;
  padding: 0;
  font-family: 'Vollkorn', sans-serif;
  color: #4d5974;

}

/* Navigation Section  */
.navbar{
    padding: 0;
}
.logo-brand{
    color: #f31f31;
    font-family: Helvetica, sans-serif, cursive;
    font-weight: bold;
    font-size: 3.2rem;
    transform: rotate(-10deg);
}

.nav-link{
   color: white !important;
   font-size: 1.6rem;
   font-weight: 300;
   font-family: 'Vollkorn', serif;
}

.navbar-nav{
    margin-right: 1.1rem;
}

.nav-link:hover{
    color: rgb(247, 247, 150) !important;
}

#navigation-bar{
   color: white;
}

.title-logo{
    width: 10%;
    height: 10%;
    padding: 0;
    margin: 0;
}

.navbar-theme{
    background-color: #1da6f0;
}

.active{
    color: yellow !important;
    border-bottom: 2px solid yellow;
}

.nav-item{
    color: white !important;
    display: flex;
    justify-content: space-evenly;
    margin-left: 0.8rem;
    margin-bottom: 0px;
}

.navbar-toggler-icon{
    color: white !important;
}

h2{
    font-weight: bold;
}


.bg {
    border: 2px solid black ;
    background: url("../images/faq.jpg") no-repeat center center/cover;
    text-align: center;
    opacity: 0.8;
}

.container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}
h3 {
  font-size: 1.75rem;
  color: #373d51;
  padding: 1.3rem;
  margin: 0;
}

.accordion-item{
    font-weight: 1400;
    color: rgb(0, 0, 0);
}

.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #020000;
}
.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #ff5353;
}
.accordion a:hover::after {
  border: 1px solid #ff5353;
}
.accordion a.active {
  color: #ff5353;
  border-bottom: 1px solid #ff5353;
}
.accordion a::after {
  font-family: 'Ionicons';
  content: '\f218';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: #7288a2;
  padding: 5px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #7288a2;
  text-align: center;
}
.accordion a.active::after {
  font-family: 'Ionicons';
  content: '\f209';
  color: #ff5353;
  border: 1px solid #ff5353;
}
.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}
.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}
.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}

footer{
    background-color: #035097;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    font-family: 'Vollkorn';
}

.footer-info{
    text-align: center;
}

.footer-info h4{
    font-size: 2rem;
    font-weight: bold;
    color: yellow;
}

.footer-info-name{
    text-decoration: none;
    list-style: none;
    width: 50%;
    margin: auto;
    text-align: right;
    padding-right: 0.6rem;
    border-right: 2px solid white;
}

.footer-info-name li a{
    justify-content: right;
    font-size: 1.2rem;
    color: rgb(250, 243, 243);
}

.footer-info-name li a:hover{
    color: wheat;
    text-decoration: none;
}
.footer-info-name li a:active{
    color: tomato;
}

.faq-name{
    width: 70%;  
    list-style: disc;
    font-size: 1.2rem;
    color: white;
    text-align: left;
    padding-right: 0.2rem;
  }
  
.contact-us{
   margin-top: 6rem;
   border: 3px solid white;
   background-color: red;
   padding: 4px;
   font-weight: bold;
   font-size: 1.5rem;
   width: 17rem;
   color: white;
}
.contact-us:hover{
    color: black;
    background-color: rgb(235, 188, 101);
    border: 3px solid black;
}

.icons a i{
    color: white;
    margin-top: 1.8rem;
}
.icons a i{
    padding: 0.5rem;
    cursor: pointer;
}

.icons a i:hover{
    color: rgb(247, 81, 183);
}

.copyright{
    color: white;
    font-size: 1rem;
    margin-top: 3rem;
    text-align: center;
}